.login{
    
position: absolute;
width: 173px;
height: 58px;
left: 1137px;
top: 0px;

background: linear-gradient(144.07deg, #FFB347 18.67%, #FFCC33 224.11%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.contact{
    position: absolute;
    width: 173px;
    height: 58px;
    left: 916px;
    top: 0px;
    
    background: linear-gradient(144.07deg, #FFB347 18.67%, #FFCC33 224.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.Home{

    position: absolute;
    width: 173px;
    height: 58px;
    left: 695px;
    top: 0px;
    display: flex;
    background: linear-gradient(144.07deg, #FFB347 18.67%, #FFCC33 224.11%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.navText{
width: 100%;
height: 100%;
left: 728px;
top: 14px;
text-decoration: none;
font-family: Poppins ;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
letter-spacing: 0.07em;
color: #FFFFFF;
}
.navGroup{
    position: fixed;
width: 1310px;
height: 71px;
left: 73px;
top: 53px;
display: flexbox;
border-radius: 20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
}
.logo{

width: 107px;
height: 29px;
left: 728px;
top: 14px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
letter-spacing: 0.07em;

color: #FFFFFF;
}
.buttonGroup{
    position: absolute;
width: 615px;
height: 58px;
left: 695px;
top: 0px;
}
.backGroundDefult{
    
position: fixed;
width: 100%;
height: 1024px;
left: 0px;
top: 0px;
overflow:hidden;
background: linear-gradient(55.22deg, rgba(58, 119, 220, 0.8) 0%, rgba(77, 192, 233, 0.8) 51.39%, rgba(235, 247, 224, 0.8) 99.67%);

}
.cardHanger{
                        
    position: absolute;
    width: 1700px;
    height: 40px;
    left: -81px;
    top: 602px;
    overflow: hidden;
    background: linear-gradient(90deg, #FFB347 12.5%, #FFCC33 87.5%);
    border-radius: 18px;

}
.scrolling-wrapper-flexbox {
position: absolute;
top: 532px;

width: 100%;
max-height: 160px;
margin-bottom: 20px;
display: flex;
   overflow-x: auto;
   overflow-y: hidden;

  }
  .scrolling-wrapper-flexbox ::-webkit-scrollbar{
    width: 0;
  }
.Eventcard {
    cursor: pointer;
    min-width: 165px;
    height: 156px;
    padding: 0 0 0 15px;
    margin: 0 10px 0 10px;
    background: linear-gradient(90deg, #FFB347 12.5%, #FFCC33 87.5%);
    border-radius: 31px;
    display: flex;
  }
  .Eventcard img{
    height: 90%;
    width: 90%;
    
    border-radius: 21px;
    margin: auto;
  }
  .Eventcard h5,p{
    visibility: hidden;
  }
  .scrolling-wrapper-flexbox .Eventcardcard,.openEventCard {
    display: inline-block;

  }
  .scrolling-wrapper::-webkit-scrollbar,
  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
  }

.openEventCard{
width: 436px;
height: 652px;
margin: 0 10px 0 10px;
overflow-x: auto;
background: linear-gradient(90deg, #FFB347 0%, #FFCC33 98.38%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(100px);
/* Note: backdrop-filter has minimal browser support */
display: flex;

border-radius: 43px;
  }
  .openEventCard img{
    height: 90%;
    width: 90%;
    
    border-radius: 21px;
    margin: auto;
  }